<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="vendor/vue.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <script defer src="utils.js"></script>
    <script defer src="field.js"></script>
    <script defer src="move.js"></script>
    <script defer src="game.js"></script>
    <script defer src="main.js"></script>
    <title>Minesweeper</title>
</head>
<body>
  <div id="app">
    <h1>Minesweeper</h1>
    <div class="movesList">
      <div v-for="move in game.moves" class="move">
        <!-- {{ move.display() }} -->
        {{ move.export() }}
      </div>
      <input type="button" value="Export Moves" v-on:click="onExportMoves()">
    </div>

    <div class="stats">
      <span><b>GameStatus:</b> {{ gameStatus }}</span>
      <span><b>Bombs:</b> {{ game.getFlagsCount() }}/{{ game.bombsCount }}</span>
      <span><b>Time:</b> {{ parseTime(playTime) }}</span>
    </div>

    <div v-if="game" class="boxes unselectable">
      <div v-for="h in game.height" class="row">
        <div 
          v-for="w in game.width"
          v-bind:title=`${w}-${h}`
          class="box"
          v-bind:class="{
            covered: game.getField(h,w).covered,
            flagged: game.getField(h,w).flagged,
            bomb: game.getField(h,w).isBomb() && !game.getField(h,w).covered}" 
          v-on:click="game.onFieldClick(game.getField(h,w))"
          v-on:click.right="game.onFieldRightClick(game.getField(h,w))"
        >
          {{ game.getField(h,w).displayValue() }}
        </div>
      </div>
    </div>

    <footer>
      <div class="instructions">
        <h2>Commands</h2>
        <span><b>Left Click</b>: uncover box / uncover adjacent boxes</span>
        <span><b>Right Click</b>: flag box</span>
        <span><b>Ctrl + z</b>: cover all bombs</span>
      </div>
      <div class="controls">
        <select v-model="difficulty" v-on:change="onChangeDifficulty($event)">
          <option v-for="difficulty in difficulties" :value="difficulty">{{ difficulty }}</option>
          <!-- <option value="custom">Custom</option> -->
        </select>

        <input type="button" value="New Game" v-on:click="onNewGame()">
        <!-- <input type="button" value="Retry" v-on:click="onRetry()"> -->

        <div class="difficulty" v-if="difficulty == 'custom'">
          <input type="number" v-model="height" min="1" name="height" id="height" placeholder="Height">
          <input type="number" v-model="width" min="1" name="width" id="width" placeholder="Width">
          <input type="number" v-model="mines" min="1" name="mines" id="mines" placeholder="Mines">
        </div>
      </div>
    </footer>

  </div>

</body>
</html>