<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link rel="stylesheet" href="style.css">
    <script defer src="testmaps.js"></script>
    <script defer src="utils.js"></script>
    <script defer src="main.js"></script>
    <title>Minesweeper</title>
</head>
<body>
  <div id="app">
    <h1>Minesweeper</h1>
    <div class="stats">
      <span><b>Gamestatus:</b> {{ gameStatus }}</span>
      <span><b>Bombs:</b> {{getFlaggedBoxesCount()}} / {{getBombsCount()}}</span>
      <span><b>Time:</b> {{playTime}}</span>
    </div>

    <div class="boxes unselectable">
      <!-- <div 
        v-for="box in boxes" 
        v-bind:title="box.id" 
        v-bind:class="{box, covered: box.covered, flagged: box.flagged, bomb: box.value == 'x' && !box.covered}" 
        v-on:click="onClick(box.id)"
        v-on:click.right="onClickRight(box.id)"
        >
        {{box.covered ? "" : box.value}}
      </div> -->

      <div v-for="h in height" class="row">
        <div 
          v-for="w in width" 
          v-bind:title="boxes[((h-1)*width + w-1)].id" 
          class="box"
          v-bind:class="{covered: boxes[((h-1)*width + w-1)].covered, flagged: boxes[((h-1)*width + w-1)].flagged, bomb: boxes[((h-1)*width + w-1)].value == 'x' && !boxes[((h-1)*width + w-1)].covered}" 
          v-on:click="onClick(boxes[((h-1)*width + w-1)].id)"
          v-on:click.right="onClickRight(boxes[((h-1)*width + w-1)].id)"
        >
          {{boxes[((h-1)*width + w-1)].covered ? "" : boxes[((h-1)*width + w-1)].value}}
          <!-- {{ boxes[((h-1)*width + w-1)].value }} -->
        </div>
      </div>
    </div>

    <footer>
      <div class="instructions">
        <h3>Commands:</h3>
        <span><b>Left Click</b>: uncover box / uncover adjacent boxes</span>
        <span><b>Right Click</b>: flag box</span>
        <span><b>Ctrl + z</b>: cover all bombs</span>
      </div>
      <div class="controls">
        <select name="difficulty" id="difficulty" v-on:change="onChangeDifficulty($event)">
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="expert" selected>Expert</option>
          <!-- <option value="custom">Custom</option> -->
        </select>

        <input type="button" value="New Game" v-on:click="onNewGame()">
        <!-- <input type="button" value="Retry" v-on:click="onRetry()"> -->

        <div class="difficulty" v-if="difficulty == 'custom'">
          <input type="number" v-model="height" min="1" name="height" id="height" placeholder="Height">
          <input type="number" v-model="width" min="1" name="width" id="width" placeholder="Width">
          <input type="number" v-model="mines" min="1" name="mines" id="mines" placeholder="Mines">
        </div>
      </div>
    </footer>

    <!-- <div class="boxes unselectable">
      <div class="box" v-for="box in boxes"> {{box.value}} </div>
    </div> -->

  </div>

</body>
</html>