:root {
  --accent: rgb(203, 139, 0);
  --dark1: #151515;
  --dark2: #252525;
  --light1: #eee;
  --light2: #585858;
  --red: rgb(177, 0, 47);
  --blue: rgb(12, 116, 214);
}

* {
  background-color: var(--dark1);
  color: var(--light1);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.stats {
  margin: 0.5em;
  display: flex;
}

.stats span {
  padding: 0 1em;
  font-family: monospace;
  font-size: 20px;
}

footer {
  /* width: 1080px; */
  display: flex;
  justify-content: space-between;
}

footer .instructions {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

footer .controls input[type=button] {
  border: none;
  margin: 0;
  padding: 0.5em 2em;
  background-color: var(--accent);
  color: var(--dark1);
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color .2s;

  outline: none;
}

footer .controls select,
footer .controls input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  border: none;
  border-bottom: var(--accent) solid 0.2em;
  border-radius: 5px;

  margin: 0;
  padding: 0.5em 0.5em;
  background-color: var(--dark1);
  color: var(--accent);
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  transition: background-color .2s;

  outline: none;
}

footer .controls select {
  margin: 0 1em;
}

footer .controls input[type=number] {
  width: 3.5em;
}

footer .controls input[type=button]:hover,
footer .controls input[type=number]:hover,
footer .controls select:hover {
  /* opacity: 90%; */
  background-color: var(--dark2);
  color: var(--accent);
}

footer .controls .difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .controls .difficulty input {
  margin: .3em;
}

.boxes {
  display: flex;
  /* width: 1080px; */
  padding: 1em 0;
  flex-direction: column;
}

.boxes .row {
  display: flex;
}

.box {
  height: 30px;
  width: 30px;
  border: var(--dark1) solid 3px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark2);
  transition: background-color .2s;
}

.box.covered {
  background-color: var(--light2);
  cursor: default;
}

.box:hover {
  background-color: var(--dark1);
  color: var(--light1);
  cursor: default;
}

.box.covered:hover {
  background-color: var(--accent);
  color:rgb(31, 31, 31);
  cursor: pointer;
}

.box.bomb {
  background-color: var(--red);
}

.box.flagged {
  background-color: var(--blue);
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, b {
  color: var(--accent);
}

@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .instructions {
    padding-top: 2em;
  }
}